.nice-banner-content {
  margin-top: 200px !important;
  background-color: rgba(0,0,0,0.7);
  padding: 20px;

  h1 {
    font-size: 30px;
  }
}

.nice-stack-grid-content {
  padding-left: 20px;
  padding-right: 20px;
}

.nice {
  .nice-small {
    h1 {
      font-size: 20px;
    }
  }
  .nice-big {
    h1 {
      font-size: 40px;
    }
  }
}
