.nice-banner-cl-v2-banner-content {
  margin-top: 200px !important;
  background-color: rgba(0,0,0,0.7);
  padding: 20px;

  h1 {
    font-size: 30px;
  }
}

.nice-stack-grid-cl-v2-banner-content {
  padding-left: 20px;
  padding-right: 20px;
}

.nice-cl-v2-stack-grid {
  .nice-cl-v2-stack-grid-small {
    h1 {
      font-size: 20px;
    }
  }
  .nice-cl-v2-stack-grid-big {
    h1 {
      font-size: 40px;
    }
  }
}
