@import './../../node_modules/material-design-lite/dist/material.css';
@import './../../node_modules/mdl-ext/lib/mdl-ext-eqjs.css';
@import './palette';
@import './../js/modules/nice/v1/index';
@import './../js/modules/comp-lib/v2/index';


* {
  font-family: 'Montserrat', sans-serif;
  /* Warning: Needed for oldIE support, but words are broken up letter-by-letter */
  -ms-word-break: break-all;
  word-break: break-all;

  /* Non standard for webkit */
  word-break: break-word;

  -webkit-hyphens: manual;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

h1, h2, h3, h4, h5 {
  font-family: 'Libre Baskerville', serif;
}